.collab {
    width: 300px;
    height: 300px;
}
.linkedin {
    width: 250px;
    height: 250px;
}
.git {
    width: 200px;
    height: 200px;
}

.p {
    float: left;
}
.firstassign {
    width: 300px;
    height: 300px;
}
#footer {
    position: absolute;
    bottom: 100%;
}
#mdl-logo {
    right: 50%;
}