.collab {
    width: 450px;
    height: 300px;


}
.p {
    float: left;
}
.firstassign {
    width: 450px;
    height: 300px;
}
#footer {
    position: absolute;
    bottom: 100%;
}
#mdl-logo {
    right: 50%;
}